# ENVIRONMENT
NODE_ENV=

# CLIENT_URLS
APP_URL=
API_URL=

# POSTGRES
DATABASE_URL=

# REDIS
REDIS_URL=

# ELASTICSEARCH
ELASTICSEARCH_URL=
ELASTICSEARCH_API_KEY=

# JWT
JWT_SECRET=
JWT_EXPIRATION_TIME=

# RESEND
RESEND_API_KEY=
RESEND_INBOUND_REPLY_TO=

# GEMI
GEMI_API_KEY=

#
RESEND_API_KEY=


# BULLMQ
BULL_BOARD_USER=
BULL_BOARD_PASSWORD=
BULLMQ_PREFIX=


